@{
    ViewBag.Title = "Home Page";
}


<style>
.banner_img {
    margin: 0px 0 0px 0;
}
 .banner_img img {
    width: 100%;
}
 .page-content-wrapper .page-content {
    padding: 2px 20px 10px;
}
</style>

<div class="row">
        <div class="banner_img">
            <img src="../images/mrm.png" alt="banner" />
        </div>
</div>
