@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div id="demo"> 
  
        <table>
                    <tr>
                        <td colspan="2">
                  <img id="testImg" src="~/Images/heroAccent.png" alt="Line Chart using MVC" />
@*                   <img id="testImg" src="~/Admin/CreateChart" alt="Line Chart using MVC" />*@

                </td>
                    </tr>
                </table>
              
        
        </div>
    
</body>
</html>