@using System.Data
@model DataTable
@{
   
   
    int count = 0;
    int datacount = 0;
}


<table class="table table-striped table-bordered table-hover table-checkable order-column" id="tblPreprocess" >
    <tr>
        @foreach (DataColumn col in Model.Columns)
        {

            count = count + 1; 
            if (count == 1 )
             {
            
             <th style="width:15%">@col.ColumnName</th>
           
            }
        else
         {
            
             <th style="width:8%">@col.ColumnName</th>
            
            }
        
        }

    </tr>
    @foreach (DataRow row in Model.Rows)
    {
        <tr>
            @foreach (DataColumn col in Model.Columns)
            {
                <td>@string.Format("{0:#.00}", row[col.ColumnName]) </td>
            } 
        </tr>
    }
</table>